@import "tailwindcss";

:root {
  --color-primary: #2d1b7a;
  --color-primary-dark: #1a1040;
  --color-accent: #e8a020;
  --color-page-bg: #ede7f6;
  --color-text-main: #333333;
  --font-family: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  .BrandGradint {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }

  /* Background colors */
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-page {
    background-color: var(--color-page-bg);
  }

  .bg-main {
    background-color: var(--color-text-main);
  }

  /* Text colors */
  .text-primary {
    color: var(--color-primary);
  }

  .text-primary-dark {
    color: var(--color-primary-dark);
  }

  .text-accent {
    color: var(--color-accent);
  }
  .text-main {
    color: var(--color-text-main);
  }

  /* Hover */
  .hover\:bg-primary-dark:hover {
    background-color: var(--color-primary-dark);
  }

  .hover\:text-primary-dark:hover {
    color: var(--color-primary-dark);
  }

  .hover\:bg-accent:hover {
    background-color: var(--color-accent);
  }

  .hover\:text-accent:hover {
    color: var(--color-accent);
  }

  .hover\:bg-primary:hover {
    background-color: var(--color-primary);
  }
}
